<!DOCTYPE html>
<html>
    <head>				
        <title>KENXINDA.BROWSER.{$Think.const.CONTROLLER_NAME}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/header.css"/>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/pushing.css"/>
        <include file="layout/config_js" />
        <script src="__PUBLIC__/home/js/jquery-1.7.2.js"></script>
        <script src="__PUBLIC__/home/js/flexible.js"></script>		
        <script src="__PUBLIC__/home/js/iscroll.js"></script>
        <!--<script src="__PUBLIC__/home/js/common.js"></script>-->
        <script src="__PUBLIC__/home/js/header.js"></script>
    </head>
	<body >
		
		<include file="layout/head" />
		<div id="content" > 
		<div id="content-out">
			<div id="content-in">
				<div id="con-in">
					<div id="refresh">
						{$Think.lang.ARefreshing}
						<img src="__PUBLIC__/home/img/5-121204193R2-50.gif" />
					</div>
                                    <div id="toutiao" style="height:271px;">
						<div id="img" onclick="location.href='{$list['top'][0]['link_address']}'">
							<img src="{$list['top'][0]['icon_image'][0]}">
						</div>

						<div id="t-title">
							{$list['top'][0]['tit_name']}
						</div>
					</div>
					<hr/>
					<ul class="list">
						<volist name="list['ordinary']" id="vo">
							<li>
								<a href="{$vo.link_address}">
									<div class="list-title">
										<volist name="vo.icon_image" id="mo">
											<img src="{$mo}">
										</volist>
										<p>{$vo.tit_name}</p>
									</div>
									<div class="promte">
										<p class="source">
											{$vo.come_from}
										</p>
										<p class="author">
											{$vo.create_date}
										</p>
									</div>
								</a>
							</li>
							<hr />
						</volist>
					</ul>
					<input id="fKe" type="hidden" value="0">
                     <div id="loading">
				{$Think.lang.Aloading}
				<img src="__PUBLIC__/home/img/5-121204193R2-50.gif" />
			</div>
				</div>
			</div>
			
		</div>
	</div>
	</body>
	<script>
		
		
    var n=0;
    function header(){
    	n++;
        $.ajax({
            type:"post",
            url:API+"/Index/reNewsEntCar",          
            data:{
             nav_mark: "entertainment_list",	
             page:n,
             size:1,
             tag:"top",
            },
            async:true,
            success:function(data){
            	var data=JSON.parse(data)
//          	console.log(data)
            	if(data.result[0].tag=="ordinary"){
//          		header()
            		return true;
            	}
            	var t='<div id="img" onclick="location.href="'+data.result[0].link_address+'"">'+
							'<img src="'+data.result[0].icon_image+'"></div>'+
						'<div id="t-title">'+data.result[0].tit_name+'</div>'
				$("#toutiao").html(t)
            }
          })
        $.ajax({
            type:"post",
            url:API+"/Index/reNewsEntCar",          
            data:{
             nav_mark: "entertainment_list",	
             page:n,
             size:6,
            },
            async:true,
            success:function(data){
            	
             var jsonData=eval('('+data+')');
//           var jsonData1=$.parseJSON(data);
//            var jsonData2=JSON.parse(data);
//             console.log(jsonData)
               if(n!=1){
	               if(jsonData.result.length<6){
	               	n=0;
	               }
               }
               
                var addlist='';
                var images='';
                 var len=jsonData.result.length
                for(var i=0;i<len;i++){
                    images='';
                    var iconImg=jsonData.result[i].icon_image.length
                    for(var m=0;m<iconImg;m++){
                        images+='<img src="'+jsonData.result[i].icon_image[m]+'">';
                    }
                    addlist+='<li><a href="'+jsonData.result[i].link_address+'">'+
					'<div class="list-title">'+
						images+
						'<p>'+jsonData.result[i].tit_name+'</p>'+												
					'</div>'+
					'<div class="promte">'+
						'<p class="source">'+							
							jsonData.result[i].come_from+						
						'</p>'+
						'<p class="author">'+
							jsonData.result[i].create_date+
						'</p>'+
					'</div>'+
				'</a>'+
			'</li><hr />';
                       
                }
                $(".list").html(addlist);
            }
           
        });
    }

		function footerLoad() {
			$('#fKe').val(parseInt($('#fKe').val()) + 1);
			var keys = $('#fKe').val();
			$.ajax({
				type: "post",
				url: "footerLoad.html",
				data: 'keys=' + keys,
				async: true,
				success: function(data) {
					var jsonData = eval('(' + data + ')');
					keys = jsonData['status']['page'];
					$('#fKe').val(keys);
					var result = jsonData['data'];
					for(var i = 0; i < result.length; i++) {
						var addlist = '';
						var images = '';
						for(var m = 0; m < result[i].icon_image.length; m++) {
							images += '<img src="' + result[i].icon_image[m] + '">';
						}
						addlist = '<li>' +
							'<a href="' + result[i].link_address + '">' +
							'<div class="list-title">' +
							images +
							'<p>' + result[i].tit_name + '</p>' +
							'</div>' +
							'<div class="promte">' +
							'<p class="source">' +
							result[i].come_from +
							'</p>' +
							'<p class="author">' +
							result[i].create_date +
							'</p>' +
							'</div>' +
							'</a>' +
							'</li>' +
							'<hr />';
						$('#con-in .list').html($('#con-in .list').html() + addlist);
					}
					$(".list-title").each(function() {
						var len = $(this).children("img").length;
						if(len > 1) {
							$(this).children("img").css("float", "left")
							$(this).children("p").after($(this).children("img"))
							$(this).children("p").css("margin-bottom", "0.1rem")
						} else {
							$(this).next().css({
								"display": "inline-block",
								"padding-top": "0.3rem"
							})
						}
					});
					$("#loading").css("visibility","hidden")
				}
			});
		}
	</script>

</html>