<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{$Think.lang.GameRecom}</title>
<link href="__PUBLIC__/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/admin-all.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/formui.css"/>
<link href="__PUBLIC__/css/listtheme.css" rel="stylesheet">
<script type="text/javascript" src="__PUBLIC__/lib/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/WdatePicker.js"></script>

</head>
<body >
<div class="alert alert-info" style="padding: 2px;margin-bottom: 4px;">
	{$Think.lang.Position}<b class="tip"></b>
	{$Think.lang.GameManage}<b class="tip"></b>
	<if condition="($Think.const.ACTION_NAME eq 'ImpotAddList1') OR ($Think.const.ACTION_NAME eq 'impotaddlist1')">当前已导入列表<else />{$Think.lang.GameRecom}</if>
	</div>
<div>
	<table  style="width:90%;text-align: center; margin:0 auto;" class="table  table-striped table-bordered table-condensed " >
	<form method="post" action="__APP__/Admin/Game/delrecom?act={$Think.const.ACTION_NAME}" id="from_delete">
			<tr>
				<td colspan="10" >
					<span  class="btn btn-default select_all"  style='margin: 0 5px;'>{$Think.lang.AllChoose}</span>
					<span class="btn btn-default re_select_all" style='margin: 0 5px;'>{$Think.lang.ContraryChoose}</span>
					<a href="__APP__/Admin/Game/addrecom" class="btn btn-default">{$Think.lang.Add}</a>
					<input type="submit"  style='margin: 0 5px;' class="btn btn-default" onclick="return confirm('{$Think.lang.DelOK}？')" value="{$Think.lang.Delete}"/>
				</td>
			</tr>
			<tr class="tab_list">
				<td style="width: 5%;">{$Think.lang.Check}</td>
				<td style="width: 5%;">{$Think.lang.AdminId}</td>
				<td style="width: 20%;">{$Think.lang.Name}</td>
				<td style="width: 20%;">{$Think.lang.Descrition}</td>
				<td style="width: 10%;">{$Think.lang.Icon}</td>
				<td style="width: 10%;">{$Think.lang.Size}</td>
				<td style="width: 10%;">{$Think.lang.RPG}</td>
				<td style="width: 5%;">{$Think.lang.Type}</td>
				<td style="width: 5%;">{$Think.lang.Language}</td>
				<td style="width: 10%;">{$Think.lang.Operate}</td>
			</tr>
			<volist name="recom" id="vo">
			<tr>
				<td><input class="check" type="checkbox" name="check[]" value="{$vo.id}"></td>
				<td>{$vo.id}</td>
				<td><div class="tite-out"><a target="_blank" title="{$vo.gamename}" href="{$vo.link}">{$vo.gamename}</a></div></td>
				<td>{$vo.introduction}</td>
				<td ><img class='imgh' src="__APP__/{$vo.icon}" height="30"/></td>
				<td><?php echo unserialize($vo['keyword'])['size']; ?></td>
				<td><?php echo unserialize($vo['keyword'])['RPG']; ?></td>
				<td><?php echo unserialize($vo['keyword'])['type']; ?></td>
				<td>{$vo.languages}</td>
				<td>
					<button type="button" uid="{$vo.id}" lang="{$vo.language}" subtit = {$vo.introduction} name="{$vo.gamename}" types="<?php echo unserialize($vo['keyword'])['type']; ?>" rpg="<?php echo unserialize($vo['keyword'])['RPG']; ?>" size="<?php echo unserialize($vo['keyword'])['size']; ?>" images="{$vo.icon}" link = "{$vo.link}" class="btn btn-primary btn-sm uprec">修改</button>
					<a href="__APP__/Admin/Game/delrecom.html?check={$vo.id}&act={$Think.const.ACTION_NAME}" class="btn btn-warning btn-sm">删除</a>
				</td>
			</tr>
			</volist>
		<tr>
			<td colspan="10" style="text-align: center;">
				<span id="page-count">{$page}</span>
				<span id="page-counts">{$Think.lang.Amount} : {$count}</span>
			</td>
		</tr>
		
	</form>
	</table>	
</div>

<!--更新窗口 start-->
<div id="updatenav" style="display:none; width:500px; padding-bottom:20px;min-height:500px; border:1px solid #eee; position:fixed;z-index:999;top:100px;left:50%; margin-left:-250px; background:white; box-shadow: 5px 15px 10px #ccc;">
	<form action="__APP__/Admin/Game/updateRecom.html" method="post" enctype="multipart/form-data">
		<input type="hidden" id="uid" name="id" value="" />
		<div style="width: 100%;height: 35px;line-height: 35px;background:#eee;text-align:center;border-bottom: 1px solid #D5D5D5;font-size: 14px;color: #333;">修改游戏推荐</div>
		<div style="padding:30px;">
			<div class="input-group">
				<div class="input-group-addon">名称：</div>
				<input style="width:230px;" uid="" id="utname" class="form-control" type="text" name="name">
			</div>

			<div class="input-group" style="margin-top:10px;">
				<div class="input-group-addon">游戏描述：</div>
				<input style="width:202px;" id="desc" class="form-control" type="text" name="desc">
			</div>

			<div class="input-group" style="margin-top:10px;">
				<div class="input-group-addon">{$Think.lang.language}：</div>
				<select  id="uttype" name="language" class="form-control">
					<volist name="lang" id="vo">
						<option value="{$vo.iso_code}">{$vo.name}</option>
					</volist>
				</select>
			</div>

			<div class="input-group" style="margin-top:10px;">
				<p id="images"></p>
			</div>
			<div class="input-group" style="margin-top:10px;">
				<div class="inp-up">上传图片：</div>
				<input  type="file" name="pic" class="form-control radius"/>
				<div class="shade" style="left: 38%;">未上传任何文件</div>
			</div>

			<div class="input-group" style="margin-top:10px;">
				<div class="input-group-addon">文件大小：</div>
				<input style="width:202px;" class="form-control" id="size" type="text" name="size">
			</div>

			<div class="input-group" style="margin-top:10px;">
				<div class="input-group-addon">类型：</div>
				<input style="width:230px;" id="types" class="form-control" type="text" name="type">
			</div>

			<div class="input-group" style="margin-top:10px;">
				<div class="input-group-addon">RPG：</div>
				<input style="width:228px;" class="form-control" type="text" name="rpg" id="rpg">
			</div>

			<div class="input-group" style="margin-top:10px;">
				<div class="input-group-addon">跳转链接：</div>
				<input style="width:203px;" class="form-control" type="text" name="link" id="link">
			</div>

			<div class="input-group" style="margin-top:10px;">
				<input type="submit" class="btn btn-info" style="margin-right:10px;" id="updates" value="更新"/>
				<button type="button" class="btn btn-warning" onclick="$('#updatenav').hide();">取消</button>
			</div>
		</div>
	</form>
</div>
<!--更新窗口 end-->
<script type="text/javascript">
	$(document).ready(function(){
		$(".select_all").click( function () {
			$check = $(".check");
			if($check.attr("checked") != "checked"){
				$check.attr("checked",true);
			}else{
				$check.attr("checked",false);
			}
		});
		$(".re_select_all").click( function () {
			
			$(".check").each(function()	{
				    if($(this).attr("checked") != "checked"){
				    	$(this).attr("checked",true);
					}else{
						$(this).attr("checked",false);
					}
			});
		});
                
		$("#addBtn").click(function(){
		   $("#addnav").show();
		});
		$("#unsub").click(function(){
			$("#addnav").hide();
		});

        //更新操作数据选中
        $('.uprec').each(function(){
            $(this).click(function(){
                $('#utname').val('');
                $('#uttype option').eq(0).prop("selected", 'selected');
                $('#updatenav').show();

                var uid = $(this).attr('uid');
                var name = $(this).attr('name');
                var subname = $(this).attr('subtit');
                var link= $(this).attr('link');
                var images= $(this).attr('images');
                var lang = $(this).attr('lang');
                var type = $(this).attr('types');
                var rpg = $(this).attr('rpg');
                var size = $(this).attr('size');

                $('#utname').val(name);
                $('#utname').attr('uid',uid);
                $('#uid').val(uid);
                $('#uttype option[value='+lang+']').prop("selected", 'selected');
                //插入图片显示
                var img = '';
                img = "<img src='__APP__/"+images+"' height='65'/>";

                $('#images').html(img);
                $('#link').val(link);
                $('#desc').val(subname);
                $('#types').val(type);
                $('#rpg').val(rpg);
                $('#size').val(size);
            });
        });
       
         $("img").on("mouseenter",function(){
          	var imgurl=$(this).attr("src")        
          	$("body").prepend('<img src='+imgurl+' class="imgh-scale img" style=" border: 8px double #9E9E9E;"/>')	
	    })
	    $("img").on("mouseleave",function(){
	    	$(".imgh-scale").remove();    	
	    })
	    
	    $("input[type=file]").live("change",function(e){
	    	$(this).next().text(e.currentTarget.files[0].name)
	    })
	});
</script>
</body>
</html>