<!DOCTYPE html>
<html>

	<head>
		<title>KENXINDA.BROWSER.{$Think.const.CONTROLLER_NAME}</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/header.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/news.css" />
                <include file="layout/config_js" />
		<script src="__PUBLIC__/home/js/jquery-1.7.2.js"></script>
		<script src="__PUBLIC__/home/js/flexible.js"></script>
		<script src="__PUBLIC__/home/js/iscroll.js"></script>
		<!--<script src="__PUBLIC__/home/js/common.js"></script>-->
		<script src="__PUBLIC__/home/js/header.js"></script>
	</head>

	<body>

		<include file="layout/head" />
		
		<div id="content">
			<div id="content-out">
				<div id="content-in">
					<div id="con-in">
						<div id="refresh">
							{$Think.lang.ARefreshing}
							<img src="__PUBLIC__/home/img/5-121204193R2-50.gif" />
						</div>

						<div id="n-out" style="width: 100%; height: 100%;">
							
							<div id="content_list">
								<volist name="list" id="vo">
									<div class="title">{$key}{$Think.lang.Information}</div>
									<!--<hr style="margin-top: 0;" />-->
									<ul class="list">
										<volist name="vo" id="vo1">
											<li>
												<a href="{$vo1.link_address}">
													<div class="list-title">
														<volist name="vo1.icon_image" id="vo2">
															<img src="{$vo2}" />
														</volist>
														<p>{$vo1.tit_name}</p>
													</div>
													<div class="promte">
														<p class="source">
															{$vo1.come_from}
														</p>
														<p class="author">
															{$vo1.create_date}
														</p>
													</div>
												</a>
											</li>
											<hr />
										</volist>
									</ul>
								</volist>
							</div>
						</div>
						<input id="fKe" type="hidden" value="0">
						<div id="loading" >
							{$Think.lang.Aloading}
							<img src="__PUBLIC__/home/img/5-121204193R2-50.gif" />
						</div>

					</div>
				</div>

			</div>
		</div>
	</body>
	<script>
		
    var n=0;
    function header(){
    	n++;
        var keys=$('#fKe').val();
        $.ajax({
            type:"post",
            url:API+"/Index/reNewsEntCar",
           
            data:{
             nav_mark: "news_list",	
             page:n,
             size:6,
            },
            async:true,
            success:function(data){

             var jsonData=eval('('+data+')');
//           var jsonData1=$.parseJSON(data);
//            var jsonData2=JSON.parse(data);
//             console.log(jsonData)
               if(n!=1){
	               if(jsonData.result.length<6){
	               	n=0;
	               }
               }
                keys=jsonData.status.page;
                $('#fKe').val(keys);
                var addlist='';
                var images='';
                var len=jsonData.result.length
                len.log(len);
                for(var i=0;i<len;i++){
                    images='';
                    var iconImg=jsonData.result[i].icon_image.length
                    for(var m=0;m<iconImg;m++){
                        images+='<img src="'+jsonData.result[i].icon_image[m]+'">';
                    }
                    addlist+='<li><a href="'+jsonData.result[i].link_address+'">'+
					'<div class="list-title">'+
						images+
						'<p>'+jsonData.result[i].tit_name+'</p>'+												
					'</div>'+
					'<div class="promte">'+
						'<p class="source">'+							
							jsonData.result[i].come_from+						
						'</p>'+
						'<p class="author">'+
							jsonData.result[i].create_date+
						'</p>'+
					'</div>'+
				'</a>'+
			'</li><hr />';
                       
                }
                $(".list").html(addlist);
            }
           
        });
    }
		function footerLoad() {
			$('#fKe').val(parseInt($('#fKe').val()) + 1);
			var keys = $('#fKe').val();
			$.ajax({
				type: 'post',
				url: '__APP__/home/news/footerLoad.html',
				data: 'keys=' + keys,
				async: false,
				success: function(data) {
					var resData = eval("(" + data + ")");
					keys = resData.status.page;
					$('#fKe').val(keys);
					var jsonData = resData.data;
					var addlist = '';
					var images = '';
					for(var i in jsonData) {
						//images='';
						var vo = '';
						for(var m = 0; m < jsonData[i].length; m++) {
							images = '';
							for(var t = 0; t < jsonData[i][m]['icon_image'].length; t++) {
								var src = jsonData[i][m]['icon_image'][t];
								images += '<img src="' + src + '">';
							}
							vo += '<li>' +
								'<a href="' + jsonData[i][m]['link_address'] + '">' +
								'<div class="list-title">' +								
								images +
								'<p>' + jsonData[i][m]['tit_name'] + '</p>' +
								'</div>' +
								'<div class="promte">' +
								'<p class="source">' +
								jsonData[i][m]['come_from'] +
								'</p>' +
								'<p class="author">' +
								jsonData[i][m]['create_date'] +
								'</p>' +
								'</div>' +
								'</a>' +
								'</li>' +
								'<hr />';

						}
						addlist = '<div class="title">' + i + '{$Think.lang.Information}</div>' +
//							'<hr style="margin-top: 0;" />' +
							'<ul class="list">' +
							vo +
							'</ul>';
						//			   '<div class="separate"></div>';
						$('#content_list').html($('#content_list').html() + addlist);
					}
					$("#loading").css("visibility","hidden")
				}
			});

			$(".list-title").each(function() {

				var len = $(this).children("img").length;
				if(len > 1) {
					$(this).children("img").css("float", "left")
					$(this).children("p").after($(this).children("img"))
					$(this).children("p").css("margin-bottom", "0.1rem")
				} else {
					$(this).next().css({
						"display": "inline-block",
						"padding-top": "0.3rem"
					})
				}
			})
		}
	</script>

</html>