@CHARSET "UTF-8";
html,body{
	width: 100%;
	min-width: 825px;
	/*overflow: auto;*/
}
.action_all_del{
	width: 90%; 
	padding-top:5px;
	margin: 0 auto;
	text-align: center;
}
.comment{
	width: 90%; 
	padding-top:5px;
	padding-bottom:5px;
	margin: 0 auto;
}
.themeitem_ul{
	list-style: none;	
	border-top:solid 1px gray;
	border-left:solid 1px gray;
	border-right:solid 1px gray;
	display: block;
	margin-bottom: 0px;
	padding:0px;
	height: 30px;
	margin: 0px auto;
	text-align: center;
	vertical-align: middle;
}

.themeitem_ul li{
	float:left;
	height: 29px;
	line-height:28px;
	display: inline-block;
}

.li_check{
	width: 5%;
	border-right:solid 1px gray;
}
.li_id{
	width: 5%;
	border-right:solid 1px gray;
}
.li_name{
	width: 29%;
	border-right:solid 1px gray;
}

.li_icon{
	width: 15%;	
	border-right:solid 1px gray;
}

.li_size{
	width: 15%;
	border-right:solid 1px gray;
}

.li_uptime{
	width: 16%;
	border-right:solid 1px gray;
}

.li_action{
	width: 15%;
}

.li_action a{
	overline : none;
	text-decoration:none;
}
.bottom_line{
	display: block;
	margin: 0px auto;
}
.num{
	margin-left: 5px;
	margin-right: 5px;
}
.show_page{
	border-top:none 1px gray;
	height: 20px;
	text-align:center;
	vertical-align: middle;
}
.show_page div a{
	display:inline-block;
	
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	vertical-align: middle !important;
}

