
<!--<li role="presentation" class="nav"><a href="#" class="border-bottom ">推存</a></li>-->
<div id="header">
        <div id="nav-add">+</div>
        <div class="nav-out" id="wrapper">
                <div class="nav-in" id="scroller">
                        <ul class="nav-list"> 
                            <volist name="webNavi" id="vo" key="k">
                                <li role="presentation" class="nav" <if condition="$Think.const.LANG_SET eq 'en-us'" >style="margin-left:0.2rem;"</if>><a href="javascript:;">{$vo.name}</a></li>
                            </volist>
                        </ul>
                </div>				
   </div>
</div>
<div id="nav-list-1">

        <div id="list-1">
                <div id="list-2">
                <p>点击进入频道</p>
                <ul>
                    <volist name="webNavi" id="vo" key="k">
                        <li<if condition="$k eq 0"> class="shadow"</if>>{$vo.name}</li>
                    </volist>
                </ul>
        </div>
        <div style="clear: both;"></div>
        </div>
</div>