*{
	margin: 0;
	padding: 0;
}
html{
	/*overflow: hidden;*/
}
body{
	/*overflow: hidden;*/
}
.b-out{
	width: 6rem;
	height: 1.2rem;    
    overflow: hidden;
    margin-top: 0.2rem;
	
}
.b-in{
	height: 1.2rem;
	overflow-x: scroll;
	overflow-y: hidden;
	
}
#content-in{
	padding-top: 0.8rem;
	z-index: 1;	
	background-color: white;
    width: 6.41rem;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
}
#content-out{
	
	    /*margin-top: 0.8rem;*/
	    width: 6.4rem;
	    position: relative;
	
}
#loading img,#refresh img{
	width: 0.3rem;
	height: 0.3rem;
}

.b-list{
	height: 1.6rem;
	
	display: inline;
	white-space: nowrap;
	float: left;
	margin-left: 0.2rem;
	
}
.b-list li{
	width:1.7rem ;
	height: 1.2rem;
	font-size: 0.36rem;
	display: inline-block;	
	list-style: none;
	/*background-color: wheat;*/
	text-align: center;
	border-radius: 0.2rem;
	line-height: 1.2rem;
	margin-left: 0.2rem;
	background-size: 0.17rem 0.12rem;
	background-size: cover;
}
.b-list li a{
	text-decoration: none;
	color: white;
}
.separate{
	width: 100%;
	height: 0.1rem;
	background-color:#f5f4f4;
	margin: 0.2rem 0;
	
}
.title-delete{
	width: 6rem;
	height: 0.6rem;
	margin: auto;
	/*background-color: #e9f6e9;*/
	
}
.b-title,.b-title1{
	font-size: 0.33rem;
	color: #59a510;
	line-height: 0.6rem;
	margin-left: 0.2rem;
	display: inline-block;
}
.b-delete{
	font-size: 0.3rem;
	border-radius: 0.1rem;
	float: right;
	/*margin-right: 0.2rem;*/
		border: 1px solid wheat;
	    border: 1px solid #9caf86;
    margin-top: 0.09rem;
    color: #f12011;
    font-size: 0.2rem;
   
}

.con-list li .b-img {
	width: 2.9rem;
	height: 4rem;
}
.con-list1 li .b-img {
	width: 2.9rem;
	height: 4rem;
}
ul{
	
    margin: auto;
    display: block;
}
.con-list,.con-list1{
	overflow: hidden;
    /*background-color: #f1f5f0;*/
}
.con-list li{
	float: left;
	margin:0 0 0.2rem 0.2rem;
	list-style-type: none;
	/*position: absolute;*/
}
.con-list1 li{
	float: left;
	margin: 0 0 0.2rem 0.2rem;
	list-style-type: none;
	/*position: absolute;*/
}
.b-promte{
	width: 100%;
	position: relative;
	bottom: 0.8rem;
}
.b-number{
	color: #d608f9;
	font-size: 0.28rem;
	margin-left: 0.2rem;
}
.b-fabulous{
	float: right;
	margin-right: 0.2rem;
	
}
.b-fabulous img{
	width: 0.25rem;
	height: 0.25rem;
}
.b-fabulous span{
	font-size: 0.28rem;
	color: red;
}
