<include file="common/head" />
	<table  style="width:99%; margin:0 auto;" class="table  table-striped table-bordered table-condensed " >
		<tr>
			<td colspan="11" class="text-center"><h3>{$Think.lang.recycleList}</h3></td>
		</tr>
		<tr>
			<td colspan="11" class="text-center">
				<form id="updateAdminPwdForm" method="post" action="__APP__/Admin/Language/recycleList"  class="form-inline" role="form" style="width:286px; margin: 0 auto;float:left;">
					<div style="text-align: center;">										
						<div class="input-group"  >
						  <div class="input-group-addon">{$Think.lang.Language}</div>
						  <input type="text" class="form-control" name="name" value="{$name}"/>
						</div>						
						<input type="submit" name="btn" style="float:left;margin:5px;" class="btn btn-default" value="{$Think.lang.Query}" /> 
					</div>
				</form>
					<input style='    float: left;margin-top: 5px;margin-right: 6px;' type="button" name="{$Think.lang.RecoverInfo}" class=" btn btn-default" value="{$Think.lang.RecoverInfo}" onclick="javascript:modify_form_action('listForm','__APP__/Admin/Language/recoverInfo.html');"/>	
					<input style='    float: left;margin-top: 5px;' type="button" name="{$Think.lang.ForceDelete}" class=" btn btn-default" value="{$Think.lang.ForceDelete}" onclick="javascript:if(confirm('{$Think.lang.ConfirmForceDelete}')) modify_form_action('listForm','__APP__/Admin/Language/forceDel.html');"/>
	
			</td>
		</tr>
	</table>
	<form id="listForm" method="post" action=""  class="form-inline" role="form" style="width:auto; margin: 0 auto;">
	
	<table  style="width:99%; margin:0 auto;" class="table  table-striped table-bordered table-condensed " >
			<tr>		
				<td> <input id ="select"   type="button"   class=" btn btn-default" value="{$Think.lang.AllChoose}" /> {$Think.lang.Id}</td>
				<td>{$Think.lang.Language}</td>				
				<td>{$Think.lang.IsoCode}</td>							
				<td>{$Think.lang.CreateTime}</td>
				<td>{$Think.lang.updTime}</td>
				<td>{$Think.lang.Operation}</td>
			</tr>
			<Volist name="recycleList" id="value">		
			<tr>
				<td style="margin:0 auto;">
					<input type="checkbox" value="{$value.id}" name="check[]" class="check"> {$value.id}
				</td>
				<td style="margin:0 auto;">
					{$value.name}
				</td>
				<td>{$value.iso_code}</td>			
				<td>{$value.add_time}</td>
				<td>{$value.update_time}</td>
				<td>
									
					<a href="__APP__/Admin/Language/recoverInfo.html?id={$value.id}"
					onclick="return confirm('{$Think.lang.RestoreINfoOK}')" class="btn btn-default btn-xs" >{$Think.lang.RecoverInfo}</a>
					<a href="__APP__/Admin/Language/forceDel.html?id={$value.id}"
					onclick="return confirm('{$Think.lang.ConfirmForceDelete}')" class="btn btn-default btn-xs" >{$Think.lang.ForceDelete}</a>
				</td>
			</tr>			
			</Volist>
		<tr>
			<td colspan="11" style="text-align: center;"><div style="float:left;display:inline-block;"></div><div style="display:inline-block;">{$show}</div><div style="display:inline-block;margin-left:15px;">{$Think.lang.Amount}: {$amount}</div></td>
		</tr>
	</table>
	</form>
<include file="common/footer"/>